#headerSlider ul{
		padding-left:20px;
		margin-left:0px;
	}
	#headerSlider div{
		padding:3px;
	}
	#mainContent{
		width:660px;
		margin-left:150px;
		background-color:#FFF;
		padding-right:5px;
		border-left:1px solid #000;
		border-right:1px solid #000;
		border-bottom:1px solid #000;
		
	}

	/* END CSS ONLY NEEDED FOR THIS DEMO PAGE */
	
	#headerSlider{	/* Styling the help panel */
		
		background-color:#ffffff;	/* Blue background color */
		color:#000000;	/* White text color */
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Which font to use */
		
		/* You shouldn't change these 5 options unless you need to */		
		height:100%;		
		left:0px;
		z-index:10;
		position:absolute;
		display:none;
	}
	
	#headerSlider #leftPanelContent{
		padding:0px;
	}
	#headerSlider .closeLink{ /* Layout of close link */
		padding-left:2px;
		padding-right:2px;
		background-color:#FFF;
		position:absolute;
		top:2px;
		right:2px;
		border:1px solid #000;
		color:#000;
		font-size:0.8em;				
	}
	#headerSlider .closeLink:hover{	/* Close link text  - mouseover effect*/
		color:#000000;
		background-color:#ffffff;
	}	